name: ci

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 24
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.7'
          cache: false
      - name: Maven Install
        run: ./mvnw install -B -V -DskipTests -Dair.check.skip-all
      - name: Maven Tests
        run: ./mvnw install -B -P ci
